
/*GERAL*/
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--font-grey);
}
:root{
  /*cores*/
--footer-grey: #3C3C3B;
--font-grey: #575756;
--background-grey:#F6F6F6;
--partners-yellow: #FDD326;
--primary-green: #60AB3E;
--brigade-red: #BD1819;
/*fim cores*/ 
}

.span__vermelho {
  color: var(--brigade-red);
}
.span__cinza{
  color: var(--footer-grey);
}

/*fim GERAL*/

/* Início do estilo para a seção o nosso diferencial da home */
.home-differential__title_at, .home-impact_title_at{
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}
.home-differential_text_at{
  border-left: 2px solid var(--primary-green);
  padding-left: 30px;
}
/* Fim do estilo para a seção o nosso diferencial da home*/

/* Início do estilo para a seção impacto da home */
.home-impact_card_at{
  background-color: var(--primary-green);
  border-radius: calc(1rem - 1px);
  width: 18rem;
  height: 380px;
}
.home-impact_card_at:hover{
  background-color: rgb(12, 75, 12);
}
.home-impact_img_at{
  width: 30%;
  height: 85px;
  margin-top: 40px;
}
.home-impact_text_at{
  color: var(--background-grey);
  font-weight: 500;
  padding: 0 20px;
  text-align: center;
}
.home-impact_text__highlight_at{
  font-weight: bold;
  font-size: 40px;
}
.home-impact_btn_at{
  border: none;
  background: white;
}
.home-impact_btn_at:focus{
  outline: none;
}
.home-impact_modal-contect_at{
  background-color: var(--background-grey);
}
.home-impact_modal-text_at{
  margin-bottom: 0;
  
}
.home-impact_modal-header_at{
  padding-bottom: 0;
  border: none;
}
/* Fim do estilo para a seção impacto da home */

/* Início do estilo para a seção Brigada da home */
.home-brigate_at{
  background-color: var(--background-grey);
}
.home-brigate_img_at{
  width: 25%;
}
.home-brigate_text_at{
  font-size: 2rem;
}
/* Fim do estilo para a seção Brigada da home */

/*Segunda Section BRIGADA - Heróis Invisíveis*/

.heroes__at{
  background: url(../assets/img/backgrounds/background-cinza.png);
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.heros__title__at{
 margin-bottom: 3%;
}
.heroes__img__at {
 width: 60%;
 margin: 8px;
}
.btn__brigada__at {
 background-color: rgba(247, 244, 244, 0.842);
 font-weight: bold;
 border-radius: 20px;
 color: var(--font-grey);
}
.heroes__legend__at {
 font-size:14px;
}
.heroes__img-card__at {
 text-align:center;
}

/* FIM HEROIS INVISIVEIS*/

/*Inicio seção - Nosso time*/
.team__legend__at{
  font-size: .70rem;
}
/*Fim seção - Nosso time*/