
/*GERAL*/
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

:root{
  /*cores*/
--footer-grey: #3C3C3B;
--font-grey: #575756;
--background-grey:#F6F6F6;
--partners-yellow: #FDD326;
--primary-green: #60AB3E;
--brigade-red: #BD1819;
/*fim cores*/ 
}
a{
  text-decoration:none;
  color:inherit;
}
a:hover {
  opacity: .7;
  color: white;
  text-decoration:none;
}
.text__red {
  color: var(--brigade-red);
}
.text__grey{
   color: var(--footer-grey);
}
.text__yellow{
  color: var(--partners-yellow);
}
.text__green {
  color: var(--primary-green);
}

/*header sections brigade, produzindo certo e parceiros*/
.produzindo__banner__at{
  background:linear-gradient(to bottom, rgba(22, 22, 22, 0.493) 0, rgba(17, 17, 17, 0.747) 75%, #000000 100%), url(../assets/img/producao/capa-produtor.jpg);
}
.parceiros__banner__at{
  background:linear-gradient(to bottom, rgba(22, 22, 22, 0.493) 0, rgba(17, 17, 17, 0.747) 75%, #000000 100%), url(../assets/img/capa-parceiros.jpg);
}
.brigade__banner__at{
  background:linear-gradient(to bottom, rgba(22, 22, 22, 0.493) 0, rgba(17, 17, 17, 0.747) 75%, #000000 100%), url(../assets/img/capa-brigada-de-incendio.jpg);
}
.header__sections__at {
  height: 80vh;
  background-size: cover;
  background-position: center;
}
.header__title-sections_at {
  color: var(--background-grey);
  margin-left: 45%;
  font-weight: bold;
}
/*fim GERAL*/

/*NAV BAR*/
nav .header__logo_at{
  max-width: 80px;
}
.nav__bg__at {
  background-color:rgba(255, 255, 255, 0.666);
  position:fixed;
  width: 100%;
  z-index: 99;
  transition: all .5s;
}
.nav__logo_at {
  width: 170px;
  height: 45px;
}
.nav__at {
  margin-left: 40%;
  font-weight: bold;
}
/*FIM NAV BAR*/

/**HOMEEE 1 *****************************************************/

/*HEADER HOME*/
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid #ffffff;
}
.home__header__carousel_at img{
  object-fit: cover;
  height: 100vh;
}
.home__text_at {
  text-align: left;
}
.home__title_at {
  font-size: 9vh;
  font-weight: bold;
  max-width: 110vh;
}
.home__btn__green_at {
  background-color: var(--primary-green);
  border: none;
  width: 130px;
  border-radius: 20px;
  font-weight: bold;
  margin-right: 30px;
}
.home__title2_at {
  font-size: 9vh;
  font-weight: bold;
  max-width: 130vh;
}
.home__btn__red_at {
  background-color: var(--brigade-red);
  border: none;
  width: 130px;
  border-radius: 20px;
  font-weight: bold;
  margin-right: 30px;
}
.home__btn__yellow_at {
  background-color: var(--partners-yellow);
  border: none;
  width: 130px;
  border-radius: 20px;
  font-weight: bold;
  margin-right: 30px;
}
/*fim HEADER HOME */

/*MAIN HOME*/
.home__row__margin_at {
  margin: 50px;
}
.home__col_at {
  padding: 10px 0;
  margin: 20px 0;
}
.home__border-left_at {
  border-left: 2px solid var(--primary-green);
}
.home__body-left_at {
  padding: 0 0 0 20px;
}
.home__card__title_at {
  font-size: 40px;
}
.home__card__img-logo_at{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__card__img-logo_at img {
  width: 26vh;
  height: 30vh;
}
.home__card__img_at{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__card__img_at img {
  width: 30vh;
  height: 30vh;
}
.home__border-right_at {
  border-right: 2px solid var(--primary-green);
}
.home__body-right_at {
  padding: 0 20px 0 0;
}
.home__card__title2_at {
  font-size: 37px;
  text-align: right;
}
.home__card__text2_at {
  text-align: right;
}
/*IMPACT*/
.home__impact_at {
  background-color: var(--background-grey)
}
.home__impact_at p {
  font-size: 20px;
  padding-top: 60px;
}
.home__impact_at img {
  width: 78vh;
  height: 60vh;
  object-fit: fill;
}
.home__impact_at img:hover {
  transform: scale(1.9, 1.8);
  transform-origin: right;
  z-index:99;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.8s;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px #c3c3c3);
}
@media (max-width:768px){
  .home__impact_at img:hover {
      display:none;
  }
  .home__impact_at img {
    display:none;
  }
}
.home__impact__row_at {
  padding: 0 50px 0 70px;
}
.home__impact__btn__green_at {
  background-color: var(--primary-green);
  border: none;
  width: 180px;
  border-radius: 20px;
  font-weight: bold;
  margin-right: 30px;
  color: #ffffff;
  margin-top: 15px;
}
.home__impact__img_at {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*DEPOSITIONS*/
.home__depositions_at {
  background-image: url(../assets/img/backgrounds/fundo-depoimentos.jpg);
  height: 60vh;
}
.home__depositions_at img{
  width: 25vh;
  height: 25vh; 
  margin: 70px 0;
  border-radius:100%;
}
.home__depositions__carousel_at {
  margin-left: 70px;
}
.home__depositions__text_at{
  margin-left: 80px;
  padding-top: 0;
  top: 32%;
}
.home__depositions__text_at p{
  text-align: left;
  font-size: 15px; 
}
.home__depositions__text_at span{
  text-align: left;
  font-style: italic;
  font-size: 14px;
}
.home__depositions__text2_at{
  margin-left: 80px;
  top: 10%;
}
.home__depositions__text2_at p{
  text-align: left;
  font-size: 15px;
}
.home__depositions__text2_at span{
  text-align: left;
  font-style: italic;
  font-size: 14px;
}

@media (max-width: 768px){
  .home__depositions_at {
    display:none;
  }
}
/**FIM DEPOIMENTOS**/ 
/* Início do estilo para a seção o nosso diferencial da home */
.home-differential__title_at, .home-impact_title_at{
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}
.home-differential_text_at{
  border-left: 2px solid var(--primary-green);
  padding-left: 30px;
}
/* Fim do estilo para a seção o nosso diferencial da home*/

/* Início do estilo para a seção impacto da home */
.home-impact_card_at{
  background-color: var(--primary-green);
  border-radius: calc(1rem - 1px);
  width: 18rem;
  height: 380px;
}
.home-impact_card_at:hover{
  background-color: rgb(12, 75, 12);
  cursor:pointer;
}
.home-impact_img_at{
  width: auto;
  height: 75px;
  margin-top: 40px;
}
.home-impact_text_at{
  color: var(--background-grey);
  font-weight: 500;
  padding: 0 20px;
  text-align: center;
}
.home-impact_text__highlight_at{
  font-weight: bold;
  font-size: 40px;
}
.home-impact_btn_at{
  border: none;
  background: white;
}
.home-impact_btn_at:focus{
  outline: none;
}
.home-impact_modal-contect_at{
  background-color: var(--background-grey);
}
.home-impact_modal-text_at{
  margin-bottom: 0;
}
.home-impact_modal-header_at{
  padding-bottom: 0;
  border: none;
}
/* Fim do estilo para a seção impacto da home */

/* Início do estilo para a seção Brigada da home */
.home-brigate_at{
  background-color: var(--background-grey);
}
.home-brigate_img_at{
  width: 25%;
}
.home-brigate_text_at{
  font-size: 2rem;
}
/* Fim do estilo para a seção Brigada da home */

/*Segunda Section BRIGADA - Heróis Invisíveis*/
.heroes__at{
  background: url(../assets/img/backgrounds/background-cinza.png);
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.heros__title__at{
 margin-bottom: 3%;
}
.heroes__img__at {
 width: 60%;
 margin: 8px;
}
.btn__brigada__at {
 background-color: rgba(247, 244, 244, 0.842);
 font-weight: bold;
 border-radius: 20px;
 color: var(--font-grey);
}
.heroes__legend__at {
 font-size:12px;
}
.heroes__img-card__at {
 text-align:center;
}
.heroes__img-card__at .team__legend__at{
  font-size: .75rem;
  margin: .5rem;
}
/* FIM HEROIS INVISIVEIS*/


/*SECTION DONATION CARD*/ 
.home__donation__at {
  display:flex;
  justify-content: center;
  align-items: center;
}
.home__donation-card__at{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:var(--background-grey);
  border-radius: 15px;
  height: 450px;
  max-width: 300px;
}
.card-body .card__font-size__at{
  font-size: 14px;
}
.home__donation-card__at h5 {
  color: var(--primary-green);
  font-weight: bold;
}
.home__donation-card__at p {
  text-align:center;
  font-size: 16px;
}
.home__donation_card__title_at{
  text-align: center;
  font-size: 32px;
}

.home__donation-card-img__at {
  width: auto;
  height: 80px;
}
.home__card-btn__at {
  display:block;
  margin: 0 auto;
  background-color:var(--primary-green);
  width: 200px;
  border-radius: 20px;
  color:var(--background-grey);
  font-weight: bold;
  margin-top:20px;
  margin-bottom:10px;
}
/*FIM SECTION DONATION CARD*/
/* footer */
.footer__at{
  background-color: var(--footer-grey);
  color: var(--background-grey);
}
.footer__title_at{
  font-size: 6.5vh;
  padding: 0px 320px 0 30px;
  font-weight: bold;
}
.footer__adress-links_at{
  text-align:right;
}
.footer__img_at{
  width: 25px;
}
.footer__address_at{
  text-align:right;
  font-size:14px;
}
.footer__logo_at{
  width: 150px;
}
/*FIM FOOTER*/ 

/* FIM HOME 1****************************************************/ 

/* COMECO PRODUZINDO CERTO **************************************/
/*--- BANNER PRINCIPAL > PRODUZINDO CERTO ---*/

/*estilo do nome da legenda da imagem 'Empresa'*/
.produto__titulo__empresa_at {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-green);
  margin-left: 80px;
  color: #f58634;
}
/*estilo do nome da legenda da imagem 'Consumidor'*/
.produto__titulo__consumidor_at {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-green);
  margin-left: 65px;
  color: #007cc2;
}
/*estilo dos botoes*/
.produto__btn__green_at {
  background-color: var(--primary-green);
  border: none;
  width: 260px;
  border-radius: 30px;
  font-weight: bold;
  margin: 8px 0;
}
/*cor dos textos - span*/
.span__green_at {
  color: var(--primary-green);
}
.produto__margin__green_at {
  border-left: 3px solid var(--primary-green); 
}
/*formatacao dos textos 'plataforma', 'infografico' e 'produtor rural'*/
.produto__texto_at, .produto__plataforma__texto_at, .produto__rural__texto_at, .produto__rural__text {
  line-height: 30px;
}

/*--- SEÇÃO PRODUTOR RURAL ----*/
/*estilo do nome da legenda da imagem 'Produtor rural'*/
.produto__titulo__produtor-rural_at {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-green);
  margin-left: 50px;
}   
/*espaçamentos e centralização - seção grafico, produtor rural, empresa */
.produto__centralizar_at {
  align-self: center;
}
.produto__centralizar__text_at, .empresa__img, .consumidor__logos {
  text-align: center;
}
.produto__alinha__flecha_at {
  text-align: center;
}
.produto__alinha__flecha_at:hover {
  opacity: 0.5;
  filter: alpha(opacity=50)
}
/*cor do fundo - seção grafico*/
.produto__plataforma__bgcolor_at, .produto__empresa__infos_at {
  background-color: var(--background-grey);
}
/*Seção Passo-a-passo - SUMIR FLECHAS - display */
@media (max-width: 768px) {
  .produto__alinha__flecha_at {
      display: none;
  }
}
/* SEÇÃO APLICATIVO*/
.produto__app__texto_at {
  text-align: center;
}
.produto__app__margin_at {
  margin: 30px;
}
.produto__app__centro_at {
  display: block;
  margin: 0 auto;
}
.img-fluid.produto__img__width_at {
  max-width: 90%;
}
/* CALL TO ACTION - FINAL */
.produto__final__texto_at {
  text-align: center;
}
/*FIM PAGINA PRODUZINDO CERTO ***********************************/ 
/* COMEÇO PAGINA PARCEIROS **************************************/
/* section faca parte */
/*geral parceiros*/
.text__right_at{
  text-align: right;
  left: 42%;
}
.text__at {
  text-align: left;
}
.title__at {
  font-weight: bold;
  max-width: 110vh;
}
.title2__at {
  font-size: 9vh;
  font-weight: bold;
  max-width: 130vh;
}
.btn__yellow_at {
  background-color: var(--partners-yellow);  
  border: none;
  max-width: 200px;
  border-radius: 20px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
}

 /*header parceiros*/

/* fim header parceiros */ 
.parceiros__sessao_apresentacao_at{
  margin:0 auto;
  padding:50px;
}
.parceiros__title {
  font-size: 5.5vh;
}
.parceiros__subtitle {
  margin-bottom: 2.5vh;
}
.parceiros__logos{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  align-items: center;
  justify-items: center;
  min-height: 500px;
}
.parceiros__logos img{
  /* grid-area: 6; */
  filter: grayscale(1);
  max-width: 60px;
  max-height: 50px;
}
.parceiros__logos img:hover{
  /* grid-area: 6; */
  filter: grayscale(0);
  /* max-width: 70px;
  max-height: 50px; */
}

/* section depoimento */
.parceiros__depoimento{
  background-image: url("../assets/img/backgrounds/fundo-depoimento-parceiros.jpg");
  padding: 50px;
  /* margin: 0 auto; */
}
.parceiros__depoimento_imagem{
  width: 130px;
  margin-bottom: 20px;
  align-self: center;
}
.parceiros__depoimento_texto{
  text-align: center;
  color: #fff;
}
.parceiros__quote {
  font-style: italic;
  margin: 0 auto;
  padding: 10px 0 ;
  font-size: 0.9rem;
}
.parceiros__descricao{
  font-style: bold;  
  font-size: 0.9rem;

}

/* secao transformacao */
.transformacao{
  padding: 50px 0;
  text-align: center;
  margin: 0 auto;
}

.parceiros__title__transformacao {
  font-weight: bold;
  text-shadow: 0 0 1px grey;
}

@media (max-width: 576px){
  .parceiros__logos{
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    align-items: center;
    justify-items: center;   
    min-height: 800px;
    margin: 30px 0; 
  }
}
/* FIM PÁGINA PARCEIROS ******************************************/


/* COMEÇO PAGINA BRIGADA *****************************************/
/*header brigada*/
/*fim da header brigada*/ 

/*Primeira section BRIGADA*/ 
.logo-brigada__at {
  width: 150px;
  display: block;
  margin: 0 auto;
}
/* .section__margin_at {
  margin: 0 10%;
} */
.text1-brigada__at {
  font-size:36px;
  line-height: 39px;
  border-left: 1px solid #AB5056;
  padding-left: 15px;
}
.text2-col__at {
  top:-8px;
}

/*Segunda Section BRIGADA - Heróis Invisíveis*/
.heroes__at{
   background: url(../assets/img/backgrounds/background-cinza.png);
   font-size: 18px;
   color: rgb(255, 255, 255);
}
.heros__title__at{
  margin-bottom: 3%;
}
.heroes__img__at {
  width: auto;
  height: 55px;
  margin: 10px;
  border-radius:100%;
}
.btn__brigada__at {
  background-color: rgba(247, 244, 244, 0.842);
  font-weight: bold;
  border-radius: 20px;
  color: var(--font-grey);
}
.heroes__legend__at {
  font-size:14px;
}
.heroes__img-card__at {
  text-align:center;
}
/* FIM HEROIS INVISIVEIS*/

/*Section DEPOIMENTO*/ 
.brigade__quote__at{
  background: url(../assets/img/backgrounds/fundo-depoimento-brigada.jpg);
  color:var(--background-grey);
  background-size: cover;
  background-position:center;
  line-height: 24px;
  font-size:18px;
}
.brigade_depo-img__at {
  width: 45%;
  display:block;
  margin: 0 auto;
}
.brigade__fourthsection__title__at{
 margin-left: 30%;
 margin-right:30%;
 text-align:center;
}
/* fim section depoimento*/

/* 4th SECTION BRIGADE*/ 
.brigade__fourthsection__at  {
  margin-left: 10%;
  margin-right:10%;
  text-align:center;
}
.btn__brigade__fourthsection__at {
  display:block;
  margin: 0 auto;
  background-color:var(--brigade-red);
  width: 200px;
  border-radius: 20px;
  color:var(--background-grey);
  font-weight: bold;
  margin-top:20px;
  margin-bottom:10px;
}
/* FIM 4th SECTION BRIGADE*/ 

/* 5th SECTION BRIGADE*/ 
.brigade__fifthsection__at {
  padding-left: 15%;
  padding-right:15%;
  text-align:center;
  background-color:var(--background-grey);
}
.brigade__fifthsection__title__at{
  margin-left: 20%;
  margin-right:20%;
  text-align:center;
 }
.btn__brigade__fifthsection__at {
  display:block;
  margin: 0 auto;
  background-color:var(--brigade-red);
  width: 200px;
  border-radius: 20px;
  color:var(--background-grey);
  font-weight: bold;
  margin-top:20px;
  margin-bottom:10px;
}
/*FIM 5th SECTION BRIGADE */

/*SECTION DONATION CARD*/ 
.brigade__donation__at {
  display:flex;
  justify-content: center;
  align-items: center;
}
.brigade__donation-card__at{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color:var(--background-grey);
  border-radius: 15px;
}
.brigade__donation-card__at h5 {
  color: var(--brigade-red);
  font-weight: bold;
}
.brigade__donation-card__at p {
  text-align:center;
  font-size: 14px;
}
.brigade__donation-card-img__at {
  width: 80px;
}
.brigade__card-btn__at {
  display:block;
  margin: 0 auto;
  background-color:var(--brigade-red);
  width: 200px;
  border-radius: 20px;
  color:var(--background-grey);
  font-weight: bold;
  margin-top:20px;
  margin-bottom:10px;
}
/*FIM SECTION DONATION CARD*/
/*FIM PAGINA BRIGADA *******************************************/ 




